<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-dialog header="{{returnObject.title}}" [(visible)]="returnObject.display">
  <p>{{returnObject.message}}</p>
  <p>Secret Key : {{returnObject.secretKey}}</p>
  <p>UUID : {{returnObject.uuid}}</p>
</p-dialog>
<div class="content" style="margin-top: 10px;" >
  <div class="action-bar" fxLayout="row" fxLayoutAlign="space-between center" >
    <div>
      <button mat-raised-button color="primary" (click)="newEspDialog()">Add new ESP</button>
      <button class="action-button" *ngIf="espSelected" mat-raised-button color="accent" (click)="updateEspDialog()">Update Esp</button>
      <button class="action-button" *ngIf="espSelected" mat-raised-button color="warn" (click)="deleteEsp()">Delete Esp</button>
    </div>
    <div *ngIf="espSelected">
      <button class="action-button"  mat-raised-button color="warn" (click)="resetSecret()">Reset Secret Key</button>
    </div>
  </div>
  <p-table styleClass="p-datatable-gridlines" selectionMode="single" [resizableColumns]="true" [value]="esp" [(selection)]="espSelected">
    <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center" pResizableColumn pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
        <th style="text-align: center" pResizableColumn>
          Uuid</th>
        <th style="text-align: center" pResizableColumn>Name
          <p-columnFilter type="text" field="name" display="menu"></p-columnFilter></th>
        <th style="text-align: center" pResizableColumn>Humidity Sensor
          <p-columnFilter field="humiditySensor" matchMode="equals" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" display="menu">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
                <ng-template let-option pTemplate="item">
                  <span [class]="'badge status-' + option.value">{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter></th>
        <th style="text-align: center" pResizableColumn>Heat Sensor
          <p-columnFilter field="heatSensor" matchMode="equals" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" display="menu">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
                <ng-template let-option pTemplate="item">
                  <span [class]="'badge status-' + option.value">{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter></th>
        <th style="text-align: center" pResizableColumn>Hygrometry
          <p-columnFilter field="hygrometry" matchMode="equals" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" display="menu">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
                <ng-template let-option pTemplate="item">
                  <span [class]="'badge status-' + option.value">{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter></th>
        <th style="text-align: center" pResizableColumn>Watering
          <p-columnFilter field="watering" matchMode="equals" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" display="menu">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
                <ng-template let-option pTemplate="item">
                  <span [class]="'badge status-' + option.value">{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter></th>
        <th style="text-align: center" pResizableColumn pSortableColumn="wateringFrequency">
          Frequency
          <p-sortIcon field="wateringFrequency"></p-sortIcon>
          <p-columnFilter type="numeric" field="wateringFrequency" display="menu"></p-columnFilter></th>
        <th style="text-align: center" pResizableColumn pSortableColumn="wateringDuration">
          Duration
          <p-sortIcon field="wateringDuration"></p-sortIcon>
          <p-columnFilter type="numeric" field="wateringDuration" display="menu"></p-columnFilter></th>
        <th style="text-align: center" pResizableColumn pSortableColumn="sleepTime">
          Sleep Time
          <p-sortIcon field="sleepTime"></p-sortIcon>
          <p-columnFilter type="numeric" field="sleepTime" display="menu"></p-columnFilter></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-esp>
      <tr [pSelectableRow]="esp">
        <td style="text-align: center">{{esp.id}}</td>
        <td style="text-align: center">{{esp.uuid}}</td>
        <td style="text-align: center">{{esp.name}}</td>
        <td style="text-align: center">
          <span [class]="'badge status-'+esp.humiditySensor ">{{esp.humiditySensor === true ? 'Yes': 'No'}}</span></td>
        <td style="text-align: center">
          <span [class]="'badge status-'+esp.heatSensor ">{{esp.heatSensor === true ? 'Yes': 'No' }}</span></td>
        <td style="text-align: center">
          <span [class]="'badge status-'+esp.hygrometry ">{{esp.hygrometry === true ? 'Yes' : 'No'}}</span></td>
        <td style="text-align: center">
          <span [class]="'badge status-'+esp.watering ">{{esp.watering === true ? 'Yes': 'No'}}</span>
        </td>
        <td style="text-align: center">{{esp.wateringFrequency}}</td>
        <td style="text-align: center">{{esp.wateringDuration}}</td>
        <td style="text-align: center">{{esp.sleepTime}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>


