<mat-drawer-container class="example-container" style="height: 100%;" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'">
    <div style="display: flex; flex-direction: column;">
      <div style="margin-top: 20px; margin-bottom: 20px; display: flex; flex-direction: column; align-items: center">
        <img style="" src="assets/img/Sleafy_logo_3000x.png" width="100px">
      </div>
      <div
        style="margin: 15px 0px 15px 15px; display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
        <div style="display: flex; flex-direction: row; align-items: center">
          <fa-icon style="margin-right: 20px; color: green; width: 35px;" size="2x" [icon]="faDashboard"></fa-icon>
          <div>
            Dashboard
          </div>
        </div>
        <div style="width: 4px; background: green; height: 30px; border-radius: 5px;">

        </div>
      </div>
      <div style="margin: 15px 40px 15px 15px; display: flex; flex-direction: row; align-items: center;">
        <fa-icon style="margin-right: 20px; color: green; width: 35px;" size="2x" [icon]="faPlus"></fa-icon>
        Déclaration d'un ESP
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content style="background: #ebebeb">
    <div style="height: 100%; background: #ebebeb;">
        <div
          style="display: flex; justify-content: space-between; align-items: center; width: 100%; height: 60px; margin-left: 10px; margin-top: 10px;">
          <div style="display: flex; align-items: center; justify-content: center;margin-left: 10px;">
            <fa-stack size="lg" class="navIcon" (click)="drawer.toggle()">
              <fa-icon [icon]="faCircle" stackItemSize="2x"></fa-icon>
              <fa-icon [icon]="faBars" [inverse]="true" stackItemSize="1x"></fa-icon>
            </fa-stack>
            <div style="margin-left: 10px; font-size: 20px;">
              Dashboard
            </div>
          </div>
          <div style="margin-right: 30px; color: #595959; font-weight: 300;">
            {{ date | date:'dd MMMM yyy, EEEE' : '' : 'fr-FR'}}
          </div>
        </div>
      </div>
  </mat-drawer-content>
</mat-drawer-container>

