<div fxLayout="column">
  <div style="margin-top: 20px; margin-bottom: 20px; display: flex; flex-direction: column; align-items: center">
    <img style="" src="assets/img/Sleafy_logo_3000x.png" width="100px">
  </div>
  <mat-nav-list>
    <mat-list-item fxLayout="row" class="item-list" *ngFor="let item of sideItems" [routerLink]="item.path">
      <div>
        <fa-icon class="icon" size="2x" [icon]="item.icon"></fa-icon>
        <span>{{ item.name }}</span>
      </div>
    </mat-list-item>
  </mat-nav-list>
</div>
